<%= render 'layouts/navigation_bar' %>

<!--=============SIGN UP PAGE=================-->

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div>
        <%= devise_error_messages! %>
    </div>

<div class="form_container">
  <div class="form_header">
    <%= link_to new_session_path(resource_name) do %><!----><div class="other_form_button right_border">Login</div><% end %><!--
    --><div class="selected">Sign up</div>
  </div>

  <div class="fill_in_container animated fadeInUp">
    <div class="field">
    <%= f.text_field :first_name, autofocus: true, required:true, value:""%>
    <%= f.label :first_name, class: 'form_label' %><br />
    </div>

    <div class="field">
    <%= f.text_field :last_name, autofocus: true, required:true, value:""%>
    <%= f.label :last_name, class: 'form_label' %><br />
    </div>

    <div class="field">
    <%= f.email_field :email, autofocus: true, required:true, value:"" %>
    <%= f.label :email, class: 'form_label' %><br />
    </div>

    <div class="field">
    <%= f.password_field :password, autocomplete: "off", required: true %>
    <%= f.label :password, class: 'form_label' %><br />
    </div>

    <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "off", required: true %>
    <%= f.label :password_confirmation, class: 'form_label' %>
    </div>

    <div class="actions submit_container">
        <%= f.submit "Sign up", class: 'submit_btn'%>
    </div>
    <% end %>

    <!--<%= render "devise/shared/links" %>-->
  </div>
</div>


<!--<% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />-->
