<div id="frame" class="animated bounceInUp">

  <div class="container container_box">

  <div class="col-lg-12 col-md-12 col-sm-9" id="find_tutor_box">
    <h3 id="find_tutor_heading">Find a Tutor</h3>

      <%= form_for TutoringSession.new, remote: true, url: {action: "create"} do |f| %>
          <!--Subject field-->
          <div class="form-group ts-field">
            <div class="subject-area">
              <%= label :tutoring_session, :subject %>
              <%= collection_select :subject, :id, Subject.all, :id, :abbrev_and_name, {:include_blank => true}, {:required => true, :id => 'subjects_select', :class => "ft-field"} %>
            </div>
          </div>
          <!--Course field-->
          <div class="form-group ts-field">
            <div class="course-area">
              <%= render partial: 'select_course', locals: {subject_id: nil}, required: 'required', class: "ft-field" %>
            </div>
          </div>
          <!--Question field-->
          <div class="form-group ts-field">
            <div class="question-area">
              <%= label :tutoring_session, "Question" %>
              <p>(Give a short overview of the problem you're having issues with.)</p>
              <%= f.text_area :question, required: 'required', value: "", class: "ft-field question_box" %>
            </div>
          </div>

          <div class="form-group">
            <%= f.hidden_field :user_id, value: current_user.id%>
            <%= f.submit "Submit", class: "btn btn-primary submit ft-field" %>
          </div>
      <% end %>
    </div>

    <!-- temporary just to check if the data stored in TutoringSession -->
  <div>

</div>
