<div id="frame" class="animated bounceInUp">
<div class="col-sm-8 col-sm-offset-2 container_box">
  <% if @available_tutors == nil || @available_tutors.count == 0 %>
    <h3> Sorry! There is not available tutors. </h3>
    <%= link_to "Cancel", tutee_cancel_tutoring_session_path(tutor_id: 0), class: "btn btn-warning btn-lg cancel", remote: true %>
  <% else %>
  <h1>Avalable Tutors:</h1>
  <table class="table">
    <thead>

    </thead>

    <% @available_tutors.to_a.each do |tutor| %>
    <tbody>
      <tr>
        <td><%= image_tag("avatar.png", size: "70x70") %></td>
        <td><%= tutor.first_name %></td>
        <td><%= tutor.last_name %></td>
        <td><%= link_to "Choose",  tutee_pick_tutor_path(tutor_id: tutor.id), class: "btn btn-primary", remote: true %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
</div>
</div>
