<nav class="menu" tabindex="0">
  <div class="smartphone-menu-trigger"></div>


    <header class="avatar">
      <%= link_to tutee_index_path do %>
      <%= image_tag "avatar.png", :id => "avatar"%>
      <h2 id="dash_board_user_name"><%= current_user.first_name %></h2>
      <% end %>
    </header>

  <div class="side_navigation_bar">
    <ul>
      <li tabindex="0"><span>
        <i class="fa fa-search" aria-hidden="true" style="color:white"></i>
        <%=link_to "Find Tutor", tutee_find_tutor_path, remote: true, class: "btn new_btn", id: "" %>
        <mark id="" class=""></mark>
      </span>
      </li>
      <li tabindex="0"><span>
        <i class="fa fa-th-list" aria-hidden="true" style="color:white"></i>
        <%= link_to "Schedule", tutee_schedule_path, remote: true, class: "btn new_btn", id: "" %>
        <mark id="" class=""></mark>
      </span>
      </li>
      <li tabindex="0"><span>
        <i class="fa fa-comments" aria-hidden="true" style="color:white"></i>
        <%= link_to "Messenger", chat_index_path, remote: true, class: "btn new_btn", id: "messenger_link" %>
        <mark id="messenger_notify" class=""></mark>
      </span>
      </li>
      <li tabindex="0"><span>
        <i class="fa fa-money" aria-hidden="true" style="color:white"></i>
        <%= link_to "Tips Box", tutee_tips_management_path, remote: true, class: "btn new_btn"%></span>
      </li>
      <li tabindex="0" class=""><span>
        <i class="fa fa-chevron-circle-up" aria-hidden="true"  style="color:white"></i>
        <%= link_to "Tutee Profile", tutee_profile_path, remote: true, class: "btn new_btn" %>
      </li>
    </ul>
  </div>
</nav>
