<%= render 'layouts/navigation_bar' %>

<nav class="menu" tabindex="0">
	<div class="smartphone-menu-trigger"></div>
  <header class="avatar">
		<img src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg" />
    <h2><%= current_user.first_name %></h2>
  </header>
	<ul>
    <li tabindex="0" class="icon-dashboard"><span>
			<%=link_to "Find Tutor", tutee_find_tutor_path, remote: true, class: "btn"  %></span>
		</li>
    <li tabindex="0" class="icon-customers"><span>
			<%= link_to "Schedule", tutee_schedule_path, remote: true, class: "btn" %></span>
		</li>
    <li tabindex="0" class="icon-users"><span>
			<%= link_to "Messenger", chat_index_path, remote: true, class: "btn", id: "messenger" %></span>
		</li>
    <li tabindex="0" class="icon-settings"><span>
			<%= link_to "Tip Management", tutee_tips_management_path, remote: true, class: "btn"%></span>
		</li>
		<li tabindex="0" class=""><span>
			<%= link_to home_authentication_path do %>
				<li>>Switch role<</li>
			<% end %>
		</li>
  </ul>
</nav>


		<div id="outer_frame">
			<!-- This frame is being replaced with another page from the dashboard -->

							<%= render "tutee/find_tutor"%>

	</div>
