<%= render 'layouts/navigation_bar' %>

<!--============= Tutee Dashbaord ============-->


<div class="row dashboard">
	<div id="nav_container" class="col-lg-2 col-sm-4 hidden-xs">
		<nav>
			<ul>
				<li><%=link_to "Find Tutor", tutee_find_tutor_path, remote: true, class: "btn"  %></li>
				<li><%= link_to "Schedule", tutee_schedule_path, remote: true, class: "btn" %></li>
				<li><%= link_to "Messenger", chat_index_path, remote: true, class: "btn" %></li>
				<li><%= link_to "Tip Management", tutee_tips_management_path, remote: true, class: "btn"%></li>
				<%= link_to home_authentication_path do %>
					<li>>Switch role<</li>
				<% end %>
			</ul>
		</nav>
	</div>

	<div class="">
		<!-- This frame is being replaced with another page from the dashboard -->
		<div id="frame">

		</div>
	</div>
</div>
