<div class="container-fluid">

  <div class="row">

    <div class="col-md-3 col-sm-0 col-xs-0">
      <!--Sidebar content-->
			<%= render 'tutee/side_navigation_bar' %>
    </div>
    <div class="col-md-9 col-sm-12 col-xs-12">
      <%= render 'layouts/navigation_bar_leaf' %>
      <!--Body content-->
			<main style="overflow: auto;">
					<div id="outer_frame">
						<!-- This frame is being replaced with another page from the dashboard -->
            <% if @command == "find_tutor" %>
              <%= render partial: "find_tutor", object: @subject %>
            <% elsif @command == "list_of_tutors"%>
              <%= render partial: "tutee/list_of_tutors", object: @available_tutors %>
            <% elsif @command == "being_tutored" %>
              <%= render partial: "tutee/being_tutored", object: @tutor %>
            <% else %>
              <%= render partial: "tutee/pick_tutor", object: @tutor %>
            <% end %>

					</div>
				<!-- <%= image_tag "cloud.png", class: "cloud" %> -->
			</main>
    </div>

  </div>

</div>

<%= javascript_include_tag('tutee.js') %>

<script src="https://checkout.stripe.com/checkout.js"></script>

<%= javascript_tag do %>
var handler = StripeCheckout.configure({
  key: '<%= Rails.configuration.stripe[:publishable_key] %>',
  locale: 'auto',
  name: 'PeerTutor',
  email: '<%= current_user.email %>',
  description: 'One-time Payment',
  token: function(token) {
    $('input#stripeToken').val(token.id);
    $('form').submit();
  }
});

$(document).ready(
  function () {
  $(document).on('click', '#PayButton',
    function(e)
        {
          e.preventDefault();

          $('#error_explanation').html('');

          var amount = $('input#amount').val();
          amount = amount.replace(/\$/g, '').replace(/\,/g, '')

          amount = parseFloat(amount);

          if (isNaN(amount)) {
            $('#error_explanation').html('<p>Please enter a valid amount in USD ($).</p>');
          }
          else if (amount < 5.00) {
            $('#error_explanation').html('<p>Payment amount must be at least $5.</p>');
          }
          else {
            amount = amount * 100; // Needs to be an integer!
            handler.open({
              amount: Math.round(amount)
            })
          }


          $(window).on('popstate', function() {
            handler.close();
          });
        }
      )
    }
  )
<% end %>
