<<<<<<< HEAD
<h1>Buy Tip Points to Tip your favorite Tutor!</h1>



<%= form_tag currency_path do %>

    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>




<article>
   <%= label_tag(:amount, 'Amount: $') %>
   <%= text_field_tag(:amount) %>
  <%= hidden_field_tag 'method', 'update'%>
 </article>
 <article>
   <%= hidden_field_tag(:stripeToken) %>
 </article>
 <button id='PayButton'>Pay with Credit Card </button>
<% end %>

<script src="https://checkout.stripe.com/checkout.js"></script>

<script>
var handler = StripeCheckout.configure({
  key: '<%= Rails.configuration.stripe[:publishable_key] %>',
  locale: 'auto',
  name: 'PeerTutor',
  email: '<%= current_user.email %>',
  description: 'One-time Payment',
  token: function(token) {
    $('input#stripeToken').val(token.id);
    $('form').submit();
  }
});

$('#PayButton').on('click', function(e) {
  e.preventDefault();

  $('#error_explanation').html('');

  var amount = $('input#amount').val();
  amount = amount.replace(/\$/g, '').replace(/\,/g, '')

  amount = parseFloat(amount);

  if (isNaN(amount)) {
    $('#error_explanation').html('<p>Please enter a valid amount in USD ($).</p>');
  }
  else if (amount < 5.00) {
    $('#error_explanation').html('<p>Payment amount must be at least $5.</p>');
  }
  else {
    amount = amount * 100; // Needs to be an integer!
    handler.open({
      amount: Math.round(amount)
    })
  }
});

$(window).on('popstate', function() {
  handler.close();
});
</script>
=======
<h1>Tutee#tips_management</h1>
<p>Find me in app/views/tutee/tips_management.html.erb</p>
>>>>>>> master
