<!--=============HOME PAGE=================-->
<%= render 'layouts/navigation_bar' %>

<div id="main_page_body" class="text-center">
	<div class="style_text" id="main-header">
		<p><%= @header_text%></p>
	</div>
	<%=image_tag("stepdoodle.png", alt: "doodle of how the website works", :id => "doodle_img")%>
	<div class="container-fluid" id="steps">
  		<div class="row style_text">
    		<div class="col-md-4 col-sm-4 col-xs-4"><%= @step_one %></div>
    		<div class="col-md-4 col-sm-4 col-xs-4"><%= @step_two %></div>
    		<div class="col-md-4 col-sm-4 col-xs-4"><%= @step_three %></div>
  		</div>
	</div>

	<!--Start Button-->
	<div class="center">
		<%= link_to home_authentication_path do %>
			<%=image_tag("startButtonDefault.png", alt: "start button", :id => "start_img")%>
		<% end %>
	</div>
</div>


