<div id="frame">


  <h1 class="text-center">You're tutoring <%= @tutoring_sessions.count %> people.</h1>

  <div class="container">
    <table class="table table-striped">
      <tr>
        <th>Tutee</th>
        <th>Subject</th>
        <th>Course</th>
        <th>Question</th>
        <th></th>
      </tr>
      <% @tutoring_sessions.each do |session| %>
        <tr>
          <td><%= session.user.first_name %> <%= session.user.last_name %></td>
          <td><%= session.course.subject.abbrev %></td>
          <td><%= session.course.number %></td>
          <td><%= session.question %></td>
          <td><%= link_to "Done", "", class: "btn btn-primary" %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
