<div id="frame">
  <div id="incoming_requests">
    <h1 class="text-center">You have <%= @tutoring_sessions.count %> requests.</h1>

    <div class="container">
      <table class="table" id="table">
        <tr>
          <th>Tutee</th>
          <th>Subject</th>
          <th>Course</th>
          <th>Question</th>
          <th></th>
        </tr>
        <% @tutoring_sessions.each do |session| %>
          <tr data-tutee_id=<%= session.user_id %>>
            <td><%= session.user.first_name %> <%= session.user.last_name %></td>
            <td><%= session.course.subject.abbrev %></td>
            <td><%= session.course.number %></td>
            <td><%= session.question %></td>
            <td><%= link_to "Accept", tutor_accept_request_path(session_id: session.id), remote: true, class: "btn btn-primary" %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>


</div>
