<% tutoring_sessions.each do |session| %>
<div class="card" data-tutee_id=<%= session.user_id %>>
  <%= image_tag "avatar.png", size: "60x60" %>
  <div class="container">
    <h4><b><%= session.user.first_name %> <%= session.user.last_name %></b></h4>
    <p>Subject: <%= session.course.subject.abbrev %></p>
    <p>Course: <%= session.course.number %></p>
    <p>Question:<%= session.question %></p>
    <%= link_to "Accept", tutor_accept_request_path(session_id: session.id), class: "btn btn-primary", remote: true %>
  </div>
</div>
<% end %>
