<%= render 'layouts/navigation_bar' %>

<div class="container-fluid">
	<div>
		<div>
			<div class="row">
				<h1 class="text-center font_styling col-lg-12">Become a Tutor!</h1>
			</div>
				<%= form_for TutorCourse.new, url: {action: "create"} do |f| %>
					<div class="row">
					    <div class="form-group ts-field text-center col-lg-12">
					      <div class="subject-area-tutor">
					        <%= label :tutor_courses, :subject, class:"font_styling"%>
					        <br />
					        <%= collection_select :subject, :id, Subject.all, :id, :abbrev_and_name, {:include_blank => true}, {:id => 'subjects_select_tutor'} %>
					      </div>
					    </div>
					  </div>

				    <div class="col-lg-12 col-xs-12 text-center">
				      <div class="course-area-tutor">
				        <%= render partial: 'select_course_tutor', locals: {subject_id: nil} %>
				      </div>
				    </div>

<<<<<<< HEAD
		</div>
	</div>

	
		<!--Register button here-->
		<%= button_to 'Register', { :controller => "tutor", :action => "update"} %>
=======
				    <div class="row">	
					    <div class="first_time_tutor_reg_btn col-lg-12 font_styling">
					    	<%= f.submit "Register", class:"btn"%>
					    </div>
					</div>
				<% end %>

		</div>
>>>>>>> master
	</div>
</div>

