
<h1 class="text-center">You have <%= @tutoring_sessions.count %> requests.</h1>

<div class="container">
  <table class="table table-striped">
    <tr>
      <th>Tutee</th>
      <th>Subject</th>
      <th>Course</th>
      <th>Question</th>
      <th></th>
    </tr>
    <% @tutoring_sessions.each do |f| %>
      <tr>
        <td><%= f.user.first_name %> <%= f.user.last_name %></td>
        <td><%= f.course.subject.abbrev %></td>
        <td><%= f.course.number %></td>
        <td><%= f.question %></td>
        <td><%= link_to "Accept", "", class: "btn btn-primary" %></td>
      </tr>
    <% end %>
  </table>
</div>
