<h1>Tutor Profile Placeholder</h1>
<p>Find me in app/views/tutor/tutor_profile.html.erb</p>


<%= simple_form_for(@tutor) do |f| %>

<%= f.association :subject, label_method: :abbrev_and_name, hint: "What subject do you prefer to tutor?", include_blank: false %>
<%= render 'form_for_education' %>
<%= render 'form_for_experience' %>



<%= f.button :submit, "Submit" %>

<% end %>
