<h1>Tutor Profile</h1>
<!--<p>Find me in app/views/tutor/tutor_profile.html.erb</p>-->

<%= image_tag(current_user.avatar.url(:medium), size: "300x300") %>

<p> <%= current_user.first_name %></p>
<p> <%= current_user.last_name %></p>
<p> <%= @mysubject %></p>


<%= link_to "Edit", edit_user_registration_path, class: "btn btn-primary" %>
<%= link_to "Courses", tutor_first_time_tutor_path, class: "btn btn-primary" %>
<%= link_to "Courses Edit", tutor_courses_edit_path, class: "btn btn-primary" %>
