<%= render 'layouts/navigation_bar' %>

<!--==============LOGIN FORM=============-->

<div class="form_container">  
  <div class="form_header">
    <div class="selected right_border">Login</div><!--
    --><%= link_to new_registration_path(resource_name) do %><!----><div class="other_form_button">Sign up</div><% end %>
  </div>
  <div class="fill_in_container animated fadeInUp">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.email_field :email, autofocus: true, required: true%>
      <%= f.label :email, class: 'form_label' %><br />
    </div>
    <div class="field">
       <%= f.password_field :password, autocomplete: "off", required: true %>
       <%= f.label :password,  class: 'form_label'%><br />
    </div>
  
    <% if devise_mapping.rememberable? -%>
      <div class="check_field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <%= link_to "Forgot your password?", new_password_path(resource_name) %>

     <div class="actions submit_container">
      <%= f.submit "Log in", class: 'submit_btn' %>
     </div>
  <% end %>
  <!--<%= render "devise/shared/links" %>-->
  </div>
</div>