<!DOCTYPE html>
<html>
  <head>
    <title>PeerTutor</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'https://js.stripe.com/v3/' ,'data-turbolinks-track': 'reload' %>
    <%= tag :meta , name: "stripe_public_key", content: Rails.application.secrets.stripe_public_key %>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">  <!-- bootstrap css-->
    <!--Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Pangolin" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito|Roboto+Condensed" rel="stylesheet">

    <!--AngularJS-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
    <script src="https://use.fontawesome.com/0f9bdaa346.js"></script>


  </head>

  <body class="<%=controller_name%>-<%=action_name%>">
    <%= yield %>
  </body>

</html>
